body {
  background-color: #e6e6e6;
}

.app {
  display: grid;
  place-items: center;
}

.app__body {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 4rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  padding: 2rem;
}

.app__body:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.app__bodyListContainer {
  margin-top: 2rem;
}

.app__bodyListContainerResetBtn {
  display: grid;
  align-items: center;
}
